.blurs.blur {
    filter: url(filter.svg#blur);
   -webkit-filter: blur(3px);
}
div.modalitem {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(64, 26, 48, 0.57);
    z-index: 9999;
}

.modalclose {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal {
    display: block;
    width: 420px;
    background: #fff;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -210px;
    border-radius: 2px;
    box-shadow: 0px 1px 20px rgba(53, 5, 33, 0.45);
}

.modal::before, .modal::after {
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border: 1px dotted #ABABAB;
}

.modal::after {
	top: 12px;
	left: 12px;
	right: 12px;
	bottom: 12px;
}

.modal> div {
    display: block;
    position: relative;
    z-index: 1;
    padding: 27px 32px 32px 32px;
}

.modaltitle {
    display: block;
    position: relative;
    font-size: 22px;
    color: #222;
    margin: 0px 0px 23px 0px;
}

.close {
	display: block;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 50%;
	margin-top: -11px;
	right: 0px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAABDUlEQVRIS+2VTW7CMBSEZ8w2UbkBPUI3ZdcKOAGctJygjWBHNz1CuUErssUPO8Iof/aLQGyqZm1/Hs/Mc4g7fbwTF38AXM6en2D4BiurrPj8SlmVWtuxolxMv51BExH5ocU8BvdQMfggOYZgn73vHusiumC/YYSC4EMMXocK5JdHzNoCesOrNkbgQ6BeebQVfXC/IVw/pjTYkaxbA27lUCkxzDVoUnE42cOtka2hySAOCSlp+aI1Rh2QSjWxoUHunROnnILXm8CNoMSW4q7hlWtV1MM79zR4WoWnVDEZXqpSqSrqA9JS2vZzCDw+0pGJqrcl2DJ4pF1Ca/cILbXkz49Q71q1btf+CP7BF+dOaUXpF/0bKOEAAAAASUVORK5CYII=') center no-repeat;
	cursor: pointer;
	transition: all 0.15s;
}

.close:hover {
	transform: rotate(90deg);
}

ul.export> li {
    display: block;
    margin: 0px 0px 18px 0px;
}

ul.export> li> label {
    font-size: 13px;
    font-weight: 600;
    display: block;
    margin: 0px 0px 5px 0px;
}

ul.export> li> label> span {
    font-weight: 400;
    color: red;
    font-size: 11px;
}

ul.export> li input[type="text"], ul.export> li input[type="email"], ul.export> li input[type="password"], ul.export> li textarea, input.input_search, .frtd input[type="text"], .frtd textarea {
    width: 100%;
    border: 1px solid #de9cc4;
    padding: 0px 10px;
    height: 44px;
    border-radius: 2px;
    box-shadow: inset 0px 1px 26px rgba(255, 134, 205, 0.21);
    font-size: 13px;
}

ul.export> li textarea  {
	padding: 10px;
	height: 80px;
}

ul.export> li input[type="text"]:focus, ul.export> li input[type="email"]:focus, ul.export> li input[type="password"]:focus, ul.export> li textarea:focus, input.input_search:focus, .frtd input[type="text"]:focus, .frtd textarea:focus {
    border-color: #ff5bbe;
    box-shadow: 0px 0px 15px rgba(255, 91, 190, 0.59);
}

ul.export> li:last-child {
    text-align: center;
    margin-bottom: 0px;
}

ul.export> li select {
    width: 100%;
    border: 1px solid #D8D8D8;
    padding: 0px 10px;
    height: 38px;
    border-radius: 3px;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

button.but, .fileBtn {
    background: linear-gradient(to bottom, #f06cc2 0%,#d23697 100%);
    border-radius: 3px;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.14), inset 0px 10px 40px rgb(255, 132, 212), 0px 7px 11px -3px rgba(123, 8, 75, 0.28), 0px 0px 0px 3px rgba(255, 174, 225, 0.36);
    display: inline-block;
    border: 0px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 0px 23px;
    height: 42px;
    cursor: pointer;
	transition: all 0.1s;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.34);
}

button.but:hover, .fileBtn:hover {
    box-shadow: inset 0px 100px 0px rgba(255, 113, 203, 0.44), inset 0px 22px 0px rgba(255, 255, 255, 0.15), inset 0px -3px 0px rgba(0, 0, 0, 0.14), inset 0px 10px 40px rgb(255, 132, 212), 0px 7px 11px -3px rgba(123, 8, 75, 0.28), 0px 0px 0px 3px rgba(255, 174, 225, 0.36);
    text-shadow: 0px 0px 7px #fff;
}

button.but:active, .fileBtn:active {
    box-shadow: inset 0px 100px 0px rgba(255, 113, 203, 0.44), inset 0px 22px 0px rgba(255, 255, 255, 0.15), inset 0px -3px 0px rgba(0, 0, 0, 0.14), inset 0px 10px 40px rgb(255, 132, 212), 0px 7px 11px -3px rgba(123, 8, 75, 0.28), inset 0px 5px 18px #000, inset 0px 5px 17px #000, 0px 0px 0px 3px rgba(255, 174, 225, 0.36);
    text-shadow: 0px 0px 7px rgba(255, 255, 255, 0);
}


ul.modallogin {
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.modallogin> li {
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
    margin-right: 10px;
}

ul.modallogin> li:last-child {
	margin: 0px;
}

ul.modallogin> li> a {
    display: block;
    background: linear-gradient(to bottom, rgba(247, 118, 203, 0) 0%,rgba(220, 71, 164, 0) 100%);
    padding: 10px 20px 11px 20px;
    border-radius: 3px;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    box-shadow: inset 0px 0px 0px 2px #dc47a4;
}

ul.modallogin> li.active> a::before {
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-top: 6px solid #dc48a5;
    top: 100%;
    left: 50%;
    margin-left: -7px;
}

ul.modallogin> li.active> a {
    color: #fff;
    box-shadow: none;
    background: linear-gradient(to bottom, rgb(247, 118, 203) 0%,rgb(220, 71, 164) 100%);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.34);
}

.message_error> span {
    display: block;
    margin: 0px 0px 20px 0px;
    background: #ffe4e4;
    padding: 15px;
    box-shadow: inset 0px 0px 0px 1px #ffb8b2, inset 0px 1px 20px #fff8f8;
    color: #f44235;
    border-radius: 2px;
}

ul.hidus, ul.hidus> li {
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.hidus {
    padding: 0px 0px 25px 0px;
}

ul.hidus> li> a {
    display: block;
    padding: 5px 0px 5px 20px;
    font-size: 14px;
	background-repeat: no-repeat;
}

ul.hidus> li> a.profile {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABNElEQVQ4T6WTMU7DMBSG37MFE0N7g4xITaVmKWUiR+AIOUIiKHNnEpQeoT0BvUFhoikDkWglxtyADkyQ+mGHRqROIirizZL/7//fbxuh4cKGeqgFPJ2GBuPbC2Ugtvzx/M1LqswqAcvunUMgxgA4+xHRJQJz+69XEx1SAmTOR2mMguz++iZWgmXntieQzSjltp6kBFh0fBcQjcHq2i26Rd1ggoAPeooSIDL9EQG2qgBAlJythqMi+OARiLG5+OLWnyNkM+9KlEnu1V66yBLRO6jEXWGhFLWlMisRCHoE8M5IeHmx+Rh7I7wYYevzJJ0TwXSwHspr/F2qXER0jj+4bSXephJQV2B+eGEGYwTaFIvcSxCZQYwkHD1mDng2fVsAhBJg1SbQr0l/eSplbYL/fKzGv/EbaZ2JEfyWK/8AAAAASUVORK5CYII=');
	background-position: 0px 5px;
}

ul.hidus> li> a.discount {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABgklEQVQ4T6VTQU7CUBCd+WBXGjlC2ZkICV0IusMbcARuIARxa9eCod6AI+gJ7M6AC0jAxJ29gSSwUvrHPx9+Q0shUf9yOvPmvTevCP98uG9+eHpX4u/lt5vxrr4tgEGxW0MQn0ghhoB9HhQka4iYCxGOzyftp02wGMDI7uW+jpYBEIwBoYSSqtxMAn1Ts+ZZ2wmaMwMSA+DtQNSoTNt6MPkGhY4PiF5lcv0YA9CbD+UVIDUQsFmetDR1fq+FTlUCuAw6LN7XCaSnKPWshXhgJprBy0nPFgfhB0rpsGFrJrdqyOGtQgGcTds+97KxJMRIfmfyF+/NIJKghvqKfqCG3JUXYVUQzcx2w0gBukqGrWTUuZYKsNGst0t1AWue8ZlyKkBSQlL7oNDlq7hsXqqElYnLBgHWBaLLJia1a/2RieBZi6wXmRhR/usZDYAJEhGOUAdJXq6CJJ5JhYtryov8ziBxM5+Q3Se+AAodGBNlNnMzRLErbMVufXOu/+pnSgPaV/sBBj/nEVYN/44AAAAASUVORK5CYII=');
	background-position: 0px 6px;
}

ul.hidus> li> a.logout {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABbElEQVQ4T6WTMVKDUBCGd19inyOkdMYwgUKJnZ5AvEE8gWECvbaSmXiE3EA8QUil2AQHCsscIX2QdR+ZF18IjI6+hoHd/Xb3fz8I/zzYVB8bEwcI+zJOWCSD1H+uyz0AxL3gDhBvCWiBBMkWACYnXgCJqZ2N73XQHoC7zoDALPKWc/7hrvTEl+NpV7Q/Q4YtB6l3o2I7QNkZ0LEzz1TBZXfasVbuWgfFvQlPRaGd+ZzPFSoYG8G62LRN1fnt5MEkIebFpmXp05STHOWJnfqdHUAKxjsPWShHflTFCOiepeNZVbxXIwg5NrNTj598tuMDyLFUMRCxBiLUiwUUi9PMj/T8BgBGLD0DqAKAqB5QuwJGCGL0qxXKNWpFxEgXVubViqjpcMU6WH+6xu0U0kjUL/L2db2R8id26TurPzww0s4PpZVhxCLO2SallVlME5Au2aWPykCNgG9jyZ+JC0u3IBvH27uRHwFV8zS9fwEoyc8ReukMggAAAABJRU5ErkJggg==');
	background-position: 0px 6px;
}

ul.uorders, ul.uorders>li {
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
}

ul.uorders {
    margin: 0px -19px -19px;
}

ul.uorders>li {
    padding: 12px 20px;
    background: #f3f3f3;
    border-bottom: 1px dotted #dedede;
}

ul.uorders>li:first-child {
	border-top: 1px dotted #dedede;
}

ul.uorders>li:last-child {
	border: 0px;
}

a.modalreglink {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    margin: 0px 0px 0px 10px;
    font-size: 14px;
    font-weight: 600;
}

span.link {
	color: #C92D8C;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

span.link:hover {
	color: #000;
}

body.noscroll {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* --------- Поиск --------- */
.serblock {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.bsear {
	display: block;
	position: relative;
	margin: 50px auto 0px auto;
	max-width: 1230px;
	background: #fff;
	border-radius: 2px;
    box-shadow: 0px 1px 20px rgba(53, 5, 33, 0.45);
}

.bsear::before, .bsear::after {
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border: 1px dotted #ABABAB;
}

.bsear::after {
	top: 12px;
	left: 12px;
	right: 12px;
	bottom: 12px;
}

.bsear> div {
    padding: 30px 60px 30px 30px;
    z-index: 1;
    position: relative;
}

.podsearchgorm> form {
    display: block;
    position: relative;
    width: 100%;
    height: 44px;
}

input.input_search {
    width: 100%;
    height: 100%;
}

input.button_search {
    width: 44px;
    height: 44px;
	border: 0px;
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABmklEQVQ4T7WTQU7CQBSG3xtAN5rgCYSdCZDABnClR8Ab4AmESN3CWjDUE4An8AjqSsAFmELizh6BRDcKnedMoWZApkWD3bV975v/vf8fhA0/uGEeBAIfD5oxjDhVUVgQh0elAAKwkbC99c6uM3Z5rIryBfZSV0UCagLRMyCajMhtdgjS4r0k5BDj/CQ7uhh4UC2wl7hME2N94lTOjwxzeTX9WDP6ueuYQu3R9lso4ynVArvJ+j0hjPOWIUdd+Ujox44zEELbuaFRk0UrgXJvLOK88kkofvhStv2M6yTqJWB4lrcqcS3wKVk/5oh3OasSaNpy7cqGbqohx2wJ4F5QrNYCeoasM/IsCdzMWYYbKe1InWTDVpetUyrNExGyxTRFX+B87FvkPKPmTAVLQ5BBjU/Cac88fQ5noW65AMIan7Ibr8ldCbKqmK+AgKdZ67ztG+z5DWnJYgEdE4GJCPuiSd4Ud1fi9jwgUWlZ/Q+FKkw9eW5UTF6/6TRs6/K5ANTBgqKj/v8GbgK24LIEyg/qmL9R5mvKX0D/BvwC1E3MFXw28QUAAAAASUVORK5CYII=') center no-repeat;
}

.bsear> div> .close {
    right: 22px;
}
/* --------- Поиск --------- */



















